{% extends 'layout/base.html' %}


{% block content %}
{% if error_mess %}
<div class="container mt-3">
    <div class="alert alert-danger">
       <strong>{{error_mess}}</strong>
    </div>
</div>
{% endif %}
<main class="container">
    <ul class="pagination">
        {% for i in range(1, 3 ) %}
        <li class="page-item"><a class="page-link" href="/?page = {{i}}">{{i}}</a></li>
        {% endfor %}
    </ul>
    {% if products %}
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-12 p-2">
            <div class="card">
                <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{ p.price }} VNĐ</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    <button class="btn btn-danger">Đặt hàng</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info mt-1">KHÔNG có sản phẩm nào!</div>
    {% endif %}

</main>

{% endblock %}