{% extends 'layout/base.html' %}
{% block content %}

{% if error_mess %}
<div class="container mt-3">
    <div class="alert alert-danger">
        <strong>{{error_mess}}</strong>
    </div>
</div>
{% endif %}


<h2>ĐĂNG KÍ</h2>
<form action="{{ url_for('logout')}}" method="post" enctype="multipart/form-data">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="email" placeholder="TenDangNhap" name="username">
        <label for="email">TenDangNhap</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        <label for="pwd">Password</label>
    </div>
        <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" id="pwd_repeat" placeholder="Enter password" name="pwd_repeat">
        <label for="pwd_repeat">Password</label>
    </div>
    <div class="form-floating mt-3 mb-3">
        <input type="file" class="form-control" id="avatar" placeholder="Enter password" name="avatar">
        <label for="avatar">avatar</label>
    </div>

    <button type="submit" class="btn btn-success">Đăng nhập</button>
</form>



{% endblock %}